<div class="container">
  <div id="left-wrapper">
    <div id="title-wrapper">
      <h1><%= @restaurant.name %></h1>
      <h2>The best <%= @restaurant.category %> restaurant in town!</h2>
    </div>
    <div id="contact-details-wrapper">
      <p>Address: <%= @restaurant.address %></p>
      <p>Phone number: <%= @restaurant.phone_number %></p>
    </div>
    <div id="image-wrapper">
    </div>
  </div>
  <div id="review-block">
    <div id="reviews-wrapper">
      <h3>Reviews</h3>
      <% @restaurant.reviews.each do |review| %>
        <div class="review-card">
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <% (5-review.rating).times do %>
          <i class="fa-regular fa-star"></i>
          <% end %>
        <p>Review: "<%= review.content %>"</p>
        </div>
      <% end %>
    </div>
    <div class="add-review">
    <h3>Add a new review</h3>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating %>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>